<div class="columns m-4 row">
                <div class="list-group col-10">
                  <a href="#" class="list-group-item list-group-item-action m-2" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1"><b>
                        </b></h5>
                      <small>
                          </u></b>8/06/201
                      </small>
                    </div>
                    <h4 class="mt-1">
                      <%= enPosecion %> 
                    </h4>
                    <p class="mt-1">
                      <%= nombre %> 
                    </p>
                  </a>
                </div>
                <div class="col-1 align-self-center">
                  <button id="aceptar" class="btn btn-success m-1" data-toggle="modal" data-target="#ventanaEliminar">
                    Aceptar
                  </button>
                  <button id="rechazar" class="btn btn-success m-1" data-toggle="modal" data-target="#ventanaModificar">
                    Rechazar
                  </button>
                </div>
              </div>