<!-- Paguina Inventario-->


<%- include("template/cabecera.ejs" , {tituloWeb: 'Inventario'}) %>
<%- include("template/navbar.ejs") %>



<div class="container border p-2">
    <div class="row align-items-start">
      <div class="col-9">
        <a class="liga" href="#"><span class="badge bg-danger m-3">Modificar</span></a>
        <a class="liga" href="#"><span class="badge bg-danger">Agregar nueva herramienta</span></a>
      </div>
      <div class="col-3 align-items-end">
        <div class="input-group">
          <div class="form-outline">
            <input id="search-focus" type="search" id="form1" class="form-control p-3" />
          </div>
          <button  type="button" class="btn btn-primary btn-lg">
            Buscar
          </button>
        </div>
      </div>
      
    </div>
    </div>
    
    
    <!--        Contenido          -->
    <div class="container">
    <div class="row align-items-center">
    
      
      
      
        <!--        Contenido          -->


              <% if (arrayHerramientas.length > 0) { %>
                  <% arrayHerramientas.forEach(herramienta => { %>
                    <%- include("template/contenedorHerramienta.ejs",{
                      id: herramienta.id, 
                      nombre: herramienta.nombre,
                      descripcion: herramienta.descripcion,
                      status: herramienta.status,
                      enPosecion: herramienta.enPosecion,
                    }
                    )
                    %>
                  <% }) %>
                 <% } %>
       


      
    </div>
    </div>



    <%- include("template/footer.ejs") %>
    
    
  